In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
s=pd.Series([1,3,5,7,11])

In [4]:
s

0     1
1     3
2     5
3     7
4    11
dtype: int64

In [5]:
dates=pd.date_range('20200630',periods=6)

In [6]:
dates

DatetimeIndex(['2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03',
               '2020-07-04', '2020-07-05'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df=pd.DataFrame(np.random.rand(6,4),index=dates,columns=list("ABCD"))

In [8]:
df

                   A         B         C         D
2020-06-30  0.383899  0.954438  0.088483  0.108414
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092  0.091076  0.816831  0.370268

In [9]:
df2=pd.DataFrame({'A':1,
                 'B': pd.Timestamp('20130102'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int64'),
                  'E':pd.Categorical(["test","train","test","train"]),
                  'F':'foo'
                 })

In [10]:
df2

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int64
E          category
F            object
dtype: object

In [12]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [13]:
df.head()

                   A         B         C         D
2020-06-30  0.383899  0.954438  0.088483  0.108414
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340

In [14]:
df.tail()

                   A         B         C         D
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092  0.091076  0.816831  0.370268

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.index

DatetimeIndex(['2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03',
               '2020-07-04', '2020-07-05'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.to_numpy()

array([[0.38389941, 0.95443759, 0.0884833 , 0.10841418],
       [0.60121813, 0.71200918, 0.14041964, 0.04501668],
       [0.99216651, 0.12733915, 0.39782271, 0.85399771],
       [0.72989985, 0.47268007, 0.04266256, 0.61517264],
       [0.84306075, 0.90521814, 0.8356848 , 0.33734047],
       [0.52009155, 0.09107601, 0.81683116, 0.37026801]])

In [18]:
df2.to_numpy()

array([[1, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.678389  0.543793  0.386984  0.388368
std    0.221795  0.377093  0.361849  0.305760
min    0.383899  0.091076  0.042663  0.045017
25%    0.540373  0.213674  0.101467  0.165646
50%    0.665559  0.592345  0.269121  0.353804
75%    0.814771  0.856916  0.712079  0.553946
max    0.992167  0.954438  0.835685  0.853998

In [20]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [21]:
df.T

   2020-06-30  2020-07-01  2020-07-02  2020-07-03  2020-07-04  2020-07-05
A    0.383899    0.601218    0.992167    0.729900    0.843061    0.520092
B    0.954438    0.712009    0.127339    0.472680    0.905218    0.091076
C    0.088483    0.140420    0.397823    0.042663    0.835685    0.816831
D    0.108414    0.045017    0.853998    0.615173    0.337340    0.370268

In [22]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2020-06-30  0.108414  0.088483  0.954438  0.383899
2020-07-01  0.045017  0.140420  0.712009  0.601218
2020-07-02  0.853998  0.397823  0.127339  0.992167
2020-07-03  0.615173  0.042663  0.472680  0.729900
2020-07-04  0.337340  0.835685  0.905218  0.843061
2020-07-05  0.370268  0.816831  0.091076  0.520092

In [23]:
df2.sort_index(axis=1,ascending=False)

     F      E  D    C          B  A
0  foo   test  3  1.0 2013-01-02  1
1  foo  train  3  1.0 2013-01-02  1
2  foo   test  3  1.0 2013-01-02  1
3  foo  train  3  1.0 2013-01-02  1

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2020-07-05  0.520092  0.091076  0.816831  0.370268
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-06-30  0.383899  0.954438  0.088483  0.108414

In [25]:
df

                   A         B         C         D
2020-06-30  0.383899  0.954438  0.088483  0.108414
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092  0.091076  0.816831  0.370268

In [26]:
df['A']

2020-06-30    0.383899
2020-07-01    0.601218
2020-07-02    0.992167
2020-07-03    0.729900
2020-07-04    0.843061
2020-07-05    0.520092
Freq: D, Name: A, dtype: float64

In [27]:
df[0:3]

                   A         B         C         D
2020-06-30  0.383899  0.954438  0.088483  0.108414
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998

In [28]:
df['20200702':'20200705']

                   A         B         C         D
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092  0.091076  0.816831  0.370268

In [29]:
df.loc[dates[0]]

A    0.383899
B    0.954438
C    0.088483
D    0.108414
Name: 2020-06-30 00:00:00, dtype: float64

In [30]:
df.loc[:,['A','C']]

                   A         C
2020-06-30  0.383899  0.088483
2020-07-01  0.601218  0.140420
2020-07-02  0.992167  0.397823
2020-07-03  0.729900  0.042663
2020-07-04  0.843061  0.835685
2020-07-05  0.520092  0.816831

In [31]:
df.loc['20200630':'20200702',['A','B','C']]         # BOTH DATE PART WILL BE INCLUSIVE

                   A         B         C
2020-06-30  0.383899  0.954438  0.088483
2020-07-01  0.601218  0.712009  0.140420
2020-07-02  0.992167  0.127339  0.397823

In [32]:
df.loc['20200701',['A','B']]

A    0.601218
B    0.712009
Name: 2020-07-01 00:00:00, dtype: float64

In [33]:
df.loc[dates[2],["A"]]

A    0.992167
Name: 2020-07-02 00:00:00, dtype: float64

In [34]:
df.at[dates[1],'B']        # fastly reached to single values

0.7120091839856116

In [35]:
df.iloc[3]

A    0.729900
B    0.472680
C    0.042663
D    0.615173
Name: 2020-07-03 00:00:00, dtype: float64

In [36]:
df2.iloc[2]

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                   test
F                    foo
Name: 2, dtype: object

In [37]:
df.iloc[[1,2,4],[0,2,3]]            # according to list index positions it will retuen data

                   A         C         D
2020-07-01  0.601218  0.140420  0.045017
2020-07-02  0.992167  0.397823  0.853998
2020-07-04  0.843061  0.835685  0.337340

In [38]:
df.iloc[:,[1,3]]

                   B         D
2020-06-30  0.954438  0.108414
2020-07-01  0.712009  0.045017
2020-07-02  0.127339  0.853998
2020-07-03  0.472680  0.615173
2020-07-04  0.905218  0.337340
2020-07-05  0.091076  0.370268

In [39]:
df.iloc[:,1:3]

                   B         C
2020-06-30  0.954438  0.088483
2020-07-01  0.712009  0.140420
2020-07-02  0.127339  0.397823
2020-07-03  0.472680  0.042663
2020-07-04  0.905218  0.835685
2020-07-05  0.091076  0.816831

In [40]:
df.iloc[1,3]

0.04501668465488584

In [41]:
df.iat[1,2]              # For getting fast access to a scalar

0.1404196432757998

In [42]:
df[df['A']>0.2]

                   A         B         C         D
2020-06-30  0.383899  0.954438  0.088483  0.108414
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092  0.091076  0.816831  0.370268

In [43]:
df

                   A         B         C         D
2020-06-30  0.383899  0.954438  0.088483  0.108414
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092  0.091076  0.816831  0.370268

In [44]:
df[df>0.3]

                   A         B         C         D
2020-06-30  0.383899  0.954438       NaN       NaN
2020-07-01  0.601218  0.712009       NaN       NaN
2020-07-02  0.992167       NaN  0.397823  0.853998
2020-07-03  0.729900  0.472680       NaN  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092       NaN  0.816831  0.370268

In [45]:
df2=df.copy()

In [46]:
df2

                   A         B         C         D
2020-06-30  0.383899  0.954438  0.088483  0.108414
2020-07-01  0.601218  0.712009  0.140420  0.045017
2020-07-02  0.992167  0.127339  0.397823  0.853998
2020-07-03  0.729900  0.472680  0.042663  0.615173
2020-07-04  0.843061  0.905218  0.835685  0.337340
2020-07-05  0.520092  0.091076  0.816831  0.370268

In [49]:
df2['E']=['one','two','three','two','one','two']

In [50]:
df2

                   A         B         C         D      E
2020-06-30  0.383899  0.954438  0.088483  0.108414    one
2020-07-01  0.601218  0.712009  0.140420  0.045017    two
2020-07-02  0.992167  0.127339  0.397823  0.853998  three
2020-07-03  0.729900  0.472680  0.042663  0.615173    two
2020-07-04  0.843061  0.905218  0.835685  0.337340    one
2020-07-05  0.520092  0.091076  0.816831  0.370268    two

In [56]:
df2[df2['E'].isin(['two','three'])]

                   A         B         C         D      E
2020-07-01  0.601218  0.712009  0.140420  0.045017    two
2020-07-02  0.992167  0.127339  0.397823  0.853998  three
2020-07-03  0.729900  0.472680  0.042663  0.615173    two
2020-07-05  0.520092  0.091076  0.816831  0.370268    two

In [81]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20200630',periods=6))

In [82]:
s1

2020-06-30    1
2020-07-01    2
2020-07-02    3
2020-07-03    4
2020-07-04    5
2020-07-05    6
Freq: D, dtype: int64

In [83]:
df['F']=s1

In [84]:
df

                   A         B         C  D  F
2020-06-30  0.765000  0.330000  0.088483  5  1
2020-07-01  0.601218  0.712009  0.140420  5  2
2020-07-02  0.992167  0.127339  0.397823  5  3
2020-07-03  0.729900  0.472680  0.042663  5  4
2020-07-04  0.843061  0.905218  0.835685  5  5
2020-07-05  0.520092  0.091076  0.816831  5  6

In [68]:
df.at[dates[0],'A']=0.765        # change value of particular place

In [69]:
df

                   A         B         C         D  F
2020-06-30  0.765000  0.330000  0.088483  0.108414  1
2020-07-01  0.601218  0.712009  0.140420  0.045017  2
2020-07-02  0.992167  0.127339  0.397823  0.853998  3
2020-07-03  0.729900  0.472680  0.042663  0.615173  4
2020-07-04  0.843061  0.905218  0.835685  0.337340  5
2020-07-05  0.520092  0.091076  0.816831  0.370268  6

In [66]:
 df.iat[0,1]=0.33

In [70]:
df

                   A         B         C         D  F
2020-06-30  0.765000  0.330000  0.088483  0.108414  1
2020-07-01  0.601218  0.712009  0.140420  0.045017  2
2020-07-02  0.992167  0.127339  0.397823  0.853998  3
2020-07-03  0.729900  0.472680  0.042663  0.615173  4
2020-07-04  0.843061  0.905218  0.835685  0.337340  5
2020-07-05  0.520092  0.091076  0.816831  0.370268  6

In [89]:
df.loc[:,'D']=np.array([4]*len(df))     # length of df is 6 and 4 is assigned equally to every 6 row

In [90]:
df

                   A         B         C  D  F
2020-06-30  0.765000  0.330000  0.088483  4  1
2020-07-01  0.601218  0.712009  0.140420  4  2
2020-07-02  0.992167  0.127339  0.397823  4  3
2020-07-03  0.729900  0.472680  0.042663  4  4
2020-07-04  0.843061  0.905218  0.835685  4  5
2020-07-05  0.520092  0.091076  0.816831  4  6

In [73]:
len(df)

6

In [94]:
df.mean()         # according to column.  we also can specify 0 between parenthesis

A    0.741906
B    0.439720
C    0.386984
D    4.000000
F    3.500000
dtype: float64

In [92]:
df.mean(1)            #according to axis or row

2020-06-30    1.236697
2020-07-01    1.490729
2020-07-02    1.703466
2020-07-03    1.849048
2020-07-04    2.316793
2020-07-05    2.285600
Freq: D, dtype: float64

In [95]:
df.apply(np.cumsum)     # add previous values to next row like we do in statistics

                   A         B         C   D   F
2020-06-30  0.765000  0.330000  0.088483   4   1
2020-07-01  1.366218  1.042009  0.228903   8   3
2020-07-02  2.358385  1.169348  0.626726  12   6
2020-07-03  3.088284  1.642028  0.669388  16  10
2020-07-04  3.931345  2.547247  1.505073  20  15
2020-07-05  4.451437  2.638323  2.321904  24  21

In [96]:
df

                   A         B         C  D  F
2020-06-30  0.765000  0.330000  0.088483  4  1
2020-07-01  0.601218  0.712009  0.140420  4  2
2020-07-02  0.992167  0.127339  0.397823  4  3
2020-07-03  0.729900  0.472680  0.042663  4  4
2020-07-04  0.843061  0.905218  0.835685  4  5
2020-07-05  0.520092  0.091076  0.816831  4  6

In [ ]:
THE END FOR BASICS OF OPERATION ON SERIES